<footer class="footer-distributed">

  <div class="footer-left">

    <img width="300" alt="Minkafab Logo" src="../../assets/img/">
    <br />
    <p class="footer-company-name">Minkafab &copy; 2020</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>N37-313 y Telégrafo. Edificio Rubio, 9no Piso.</span> Quito</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+593 22266530 / 0983058163 / 0989498954</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">contact@minkafab.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Nosotros</span>
      Somos un grupo de ingenieros eléctricos, electrónicos e informáticos, que durante muchos años hemos utilizado
      Hardware y Software Libre.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fab fa-facebook-f fa-lg"></i></a>
      <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
      <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
      <a href="#"><i class="fab fa-youtube fa-lg"></i></a>

    </div>

  </div>

</footer>
