.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  background-color: #343A40;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #343A40;
}

.container {
  text-align: center;
}

.text-center {
  color: #f4f7f5;
  text-align: justify;
  justify-content: center;
  display: flex;
  align-items: center;
}

.mat-nav-list {
  color: #f4f7f5;

}
