<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <div class="text-center">
      <p>
        <h3>Minkafab-Menú</h3>

    </div>
    <mat-nav-list>
      <a mat-list-item (click)="abrirModal();"><i class="material-icons">
          add</i> Añadir Cliente</a>
      <a mat-list-item (click)="abrirModal();"><i class="material-icons">
          add</i> Añadir Nuevo Modelo</a>
      <a mat-list-item (click)="abrirModal();"><i class="material-icons">
          add</i> Añadir Nuevo Controlador</a>
      <!-- <a mat-list-item routerLink="/pedidos"><i class="material-icons">
          list_alt</i>Ver Pedidos</a>
      <a mat-list-item routerLink="/inicio"><i class="material-icons">
          person</i>Cerrar Sesión</a> -->
      <a mat-list-item (click)="abrirModalAdmin();"><i class="material-icons">
          person_add</i>Registrar Aministrador</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container">
        <span>Administración Minkafab</span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <ng-content></ng-content>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </mat-drawer>

      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div>

    </mat-drawer-container>
    <!-- <app-pedidos></app-pedidos> -->
  </mat-sidenav-content>
</mat-sidenav-container>
