.container {
  width: 30%;
  height: 490px;
  background-color: #abf0b1;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: solid;
  text-align: center;
}

.container .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.container h1 {
  margin: 0;
  padding: 60px 0 30px;
  text-align: center;
  font-size: 22px;
  color: black;
}

.container label {

  font-weight: bold;
  color: black;
  text-align: right;
  display: flex;

}

.container input {
  margin-top: -10px;
  margin-bottom: 20px;
  margin: 10px;
  width: 50%;


}

.container button[type="submit"] {
  margin: 10px;
  width: 50%;
  border: none;
  outline: none;
  height: 40px;
  background: #1e9c29;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}
